<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--引入头部-->
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog_content_container">
    <h1 th:text="${userModel.title}" style="color: #6c757d"></h1>
    <a class="btn btn-primary" href="/users/form" th:href="@{/users/form}" style="margin-bottom: 5px">添加用户</a>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">邮箱</th>
            <th scope="col">姓名</th>
        </tr>
        </thead>
        <tbody>
        <!--没有数据时，提示-->
        <tr  th:if="${userModel.userList.size() eq 0}">
            <td colspan="3">用户数据为空</td>
        </tr>

        <tr th:each="user : ${userModel.userList}" th:object="${user}">
            <td scope="row" th:text="*{id}"></td>
            <td th:text="*{email}"></td>
            <td ><a th:href="@{/users/}+*{id}" th:text="*{name}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<!--引入底部-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>